{% extends 'base.html' %}

{% block content %}
<h1>Интересные факты о утконосах</h1>
    <div class="about-content">
       <p>1)Наш первый невероятный факт о утконосе заключается в том, что утконос - один из немногих ныне живущих видов млекопитающих,
        которые откладывают яйца. Все верно: это млекопитающее, но оно откладывает яйца! Наряду с ехиднами утконосы являются однопроходными,
        своеобразным видом млекопитающих, откладывающих яйца. Они все еще теплокровные, но температура их тела немного ниже,
        чем у других млекопитающих. После спаривания самка утконоса роет в земле норку и выстилает ее листьями и
        утрамбованной почвой. Обычно самка откладывает всего 1-3 яйца за раз и высиживает их сама. Своим большим хвостом
        она прижимает яйца к животу, чтобы они оставались теплыми. Когда детеныши утконосов вылупляются, они намного меньше
        своей матери — восхитительно крошечные детеныши размером всего с лимскую фасоль! Детеныши утконосов совершенно
        беспомощны и должны зависеть от матери в течение нескольких месяцев, пока не научатся безопасно плавать</p>
        <p>2)Я знаю, мы только что сказали, что утконос - млекопитающее, поэтому у него должны быть соски, верно? Нет — несмотря
        на то, что они млекопитающие, у утконосов нет сосков! Они по-прежнему производят и выделяют молоко из
        молочных желез, как и другие млекопитающие, только без сосков. Вместо этого самки утконосов выделяют молоко с
        поверхности своей кожи. По сути, самка утконоса “выделяет” молоко для питья своих детенышей. Детеныши утконосов
        высасывают молоко непосредственно из кожи матери или ее меха. Может показаться немного грубым пить материнский пот,
        но молоко утконоса удивительно питательно и содержит множество мощных антибактериальных белков. На самом деле,
        ученые считают, что молоко утконоса могло бы помочь в производстве лучших антибиотиков для борьбы со многими
        супербактериями у людей!</p>
        <p>3)Если вам показалось странным выделение молока, как насчет еды без желудка? У большинства животных есть желудки,
        которые расщепляют пищу, которую они едят, и облегчают ее переваривание. Однако утконос ест пищу, которая достаточно
        легко переваривается самостоятельно, поэтому ему на самом деле не нужен желудок для сложного переваривания.
        Единственная проблема, связанная с отсутствием желудка, заключается в том, что утконосу негде хранить пищу —
        поэтому он ест ВЕСЬ ДЕНЬ НАПРОЛЕТ! Утконос должен потреблять почти 30% от собственного веса тела и часто ест по
        12 часов в день.</p>
    </div>
{% endblock %}