{% extends 'base.html' %}
 
{% block content %}
<h1>Профиль</h1>
 
<form method="post" enctype="multipart/form-data" class="form-section">
    {% csrf_token %}

    {% if user.photo %}
    <img src="{{ user.photo.url }}" width="100" height="80" alt="Фото профиля">
    {% else %}
    <img src="{{ default_image }}" width="100" height="80" alt="Фото профиля">
    {% endif %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
 
    <p ><button type="submit">Сохранить</button></p>
</form>
 
{% endblock %}
