{% extends 'base.html' %}

{% block content %}
<h1>Регистрация</h1>

<form method="post" class="form-section">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">E-mail</label>
        <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Введите ваш email" required>
        {% for error in form.email.errors %}
            <div class="error-message">{{ error }}</div>
        {% endfor %}
        {% if form.email.help_text %}
            <div class="help-text">{{ form.email.help_text }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Логин</label>
        <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" required>
        {% for error in form.username.errors %}
            <div class="error-message">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Пароль</label>
        <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" required>
        {% for error in form.password1.errors %}
            <div class="error-message">{{ error }}</div>
        {% endfor %}
    </div>
    <button type="submit">Регистрация</button>
    <p>Уже зарегистрировались?</p>
    <p><a href="{% url 'users:login' %}">Войти в личный кабинет</a></p>
</form>
{% endblock %}